body{
  background-color:#7A577D; 
}
h1{
  color: #D68FD6;
  font-family: trebuchet MS;
}
p{
  color:#D68FD6;
  font-family: trebuchet MS;
}
a{
  color: #4B88A2;
  text-decoration: none;
  font-family: trebuchet MS;
}
pre{
  color: rgb(208, 133, 255);
  font-family: trebuchet MS;
}
.artwork-text {
  font-size: 1.1em;
  line-height: 1.9;
  opacity: .8;
  max-width: 20em;
}
.site-nav ul {
  list-style-type: none;
  margin: 0;
  text-align: right;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
