body{
  background-color: rgb(0, 0, 0); 
}
h1{
  color: rgb(255, 255, 255);
  font-family: trebuchet MS;
}
p{
  color:rgb(208, 133, 255);
  font-family: trebuchet MS;
}
a:link {
  color: rgb(208, 133, 255);
  text-decoration: none;
  font-family: trebuchet MS;
}
